<div class="container">

  <div class="main-content container-fluid">
    <h2>上傳商品</h2>

    <form action="http://localhost:8080/image" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="imagefile" class="control-label">商品圖片：</label>
        <input id="imagefile" name="imagefile" type="file" class="file">
        <button type="submit" class="btn btn-outline-secondary">上傳</button>
      </div>
    </form>
    <br>

    <form [formGroup]="productForm">
      <div class="form-group">
        <label for="productName" class="control-label">產品名稱：</label>
        <input id="productName" type="text" formControlName="productName" class="input-group-text">
      </div>

      <div class="form-group">
        <label for="category" class="control-label">分類：</label>
        <select id="category" class="input-group-text">
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="price" class="control-label">價格：</label>
        <input id="price" type="text" formControlName="originPrice" class="input-group-text">
      </div>

      <div class="form-group">
        <label for="unitsInStock" class="control-label">數量：</label>
        <input id="unitsInStock" type="text" formControlName="unitsInStock" class="input-group-text">
      </div>

      <div class="form-group">
        <label for="description" class="control-label">商品描述：</label>
        <textarea id="description" formControlName="description" class="input-group-text"></textarea>
      </div>

      <button class="btn btn-primary" (click)=submit()>新增</button>
    </form>
  </div>
  <!--  <div>{{newProduct.productName}}</div>-->
</div>

