<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <img src="assets/images/logo.png" alt="AndyShock" class="img-responsive" width="70" height="70">
    </a>
  </div>
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li>
          <a routerLink="/category/MEN_CLOTHING" routerLinkActive="active-link">男生衣著</a>
        </li>
        <li>
          <a routerLink="/category/WOMEN_CLOTHING" routerLinkActive="active-link">女生衣著</a>
        </li>
        <li>
          <a routerLink="/category/SUPPLIES" routerLinkActive="active-link">居家生活</a>
        </li>
        <li>
          <a routerLink="/category/ELECTRONICS" routerLinkActive="active-link">電子產品</a>
        </li>

      </ul>
    </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->
