<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="http://localhost:4200/" class="navbar-brand">安迪購物</a></div>
    <ul class="navbar-nav">
      <li><a routerLink="/products" class="nav-link">開始購物</a></li>
      <li><a routerLink="/product/new" class="nav-link">賣東西</a></li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a routerLink="/login" class="nav-link">登入</a></li>
      <li><a routerLink="/logout" class="nav-link">登出</a></li>
    </ul>
  </nav>
</header>
