<header class="header-desktop">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="header-wrap">
        <app-search></app-search>
        <ul>
          <li routerLink="/products" class="btn btn-sm">
            <a style="color: white">買東西</a>
          </li>
          <li routerLink="/product/new" class="btn btn-sm">
            <a style="color: white">賣東西</a>
          </li>
        </ul>
        <div class="cart-area d-n">
          <a href="#">
            <div class="total">NTD$ 1,000
              <span><img src="assets/images/shopping-cart.png" width="20"/></span>
            </div>
            <i class="fa fa-shopping-cart"
               aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="account-wrap"></div>
    </div>
  </div>
</header>
