html, body {
  height: 100%; /*外層高度100%*/
  margin: 0;
}

.wrapper {
  min-height: 100%; /*外層高度100%*/
  margin-bottom: -50px; /*隨footer高度需做調整*/
}

.content {
  padding-bottom: 50px; /*避免文字超出瀏覽器時，內容區塊不會和footer打架*/
}
