<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">

            <a routerLink="/products/{{product.id}}">
              <img src="assets/images/placeholder.png" class="img-responsive" alt="product">
              <h1>{{ product.productName }}</h1>
            </a>

            <div class="price">{{ product.originPrice | currency:'NTD':'symbol':'3.0'}}</div>
            <a href="#" class="primary-btn">加入購物車</a>
          </div>
        </div>

        <!-- if product not found, display a msg-->
        <!-- '?' is safe navigation operator -->
        <!-- Guards against null and undefined values in property paths -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
           沒有相關的商品
        </div>
      </div>
    </div>
  </div>
</div>
